<!DOCTYPE html>
<html><body>
    <h2>uid : {{ uid }}</h2>
    {% if isAuthed %}
        <p>ログイン成功</p>
        <form method="post" action="/">
            <input type="text" id="msg" name="msg">
            <input type="submit" value="Tweet message!">
        </form>
    {% else %}
        <p>ログインしてください</p>
        <p><a href="{{ url_for('twitter_auth') }}">Twitter認証</a></p>
        <button type="button" onclick="login()">Twitterにログインして投稿</button>
    {% endif %}
    <button type="button" onclick="tweet()">画像をツイート</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script>
    var isAuthed = "{{ isAuthed }}";

    // Twitterログインページへ遷移
    function login() {
        window.location.href = "{{ url_for('twitter_auth') }}"
    }
    // API呼び出し
    function submit() {
        var msg = document.getElementById("msg").value;
        var params = new FormData();
        params.append('msg', msg);
        axios.post('/api/tweet', params).then(function(response) {
            console.log('** /');
        //dt = response.data;
        }).catch(function(error) {
            alert("エラー:" + error);
        });
    }
    // tweet
    function tweet() {
        // 画像投稿
        var msg = document.getElementById("msg").value;
        var params = new FormData();
        params.append('msg', msg);
        axios.post('/api/tweet', params).then(function(response) {
            console.log('** /');
        }).catch(function(error) {
            alert("エラー:" + error);
        });
        // 未ログイン？
        if (isAuthed == "False") {
            // ログイン画面に移行
            window.location.href = "{{ url_for('twitter_auth') }}"
        }
    }
</script>
</body></html>
